body {
  font-family: Lora;
  font-size: 18px;
  line-height:1.5;
  color: #ffffff;
  background-image:url(./assets/background.svg);
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 40px;
}

header {
  background-color: #ffffff;
  padding: 40px;
  /*padding-top: 60px;*/
}

nav {
  background-color: #f05d5d;
  padding: 20px 40px 20px 40px;
}

/*only a tags inside nav*/
nav a{
  color:#ffffff;
  text-decoration: none;
  margin-right:10px;
}

nav a:hover{
  color:#5000ff;
  border-bottom: solid 2px #ffffff;
}

section{
  background-color: #5000ff;
  padding: 40px;
}

h2{
  font-size:32px;
  line-height: 1.2;
}

img{
  max-width:640px;
}

.image{
  padding:0;
}


blockquote{
  font-size: 32px;
  line-height:1.2;
  font-style:italic;

  margin-top: 40px;
  margin-bottom: 40px;
}


.map{
  width:100%;
  margin-top: 20px;
}

.contact p {
  /*this willgrab all the paragraphs inside of the contact section*/
  margin-top:40px;
}

.contact a{
  color:#ffffff;
  text-decoration: none;
  border-bottom: solid 2px #f05d5d;
  /*border-color: red;*/
}


@media (max-width: 720px){
  section,
  header{
    padding: 20px;
  }

  nav{
    padding: 10px 20px 10px 20px;
  }

  h2,
  blockquote{
    font-size:24px;
  }

  body{
    padding-top:0;
    font-size:16px;
  }

  nav a{
    display:block;

  }
  nav a:hover{
    border:none;
  }

}
