body {
	font-family: Fjord One;
	font-size: 18px;
	line-height: 1.5;
	
	background-color: #ffffff;
	color: #333333;
	margin: 0 auto 300px auto;
	width: 900px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 40px;
}

h1 {
  float: left;
	font-weight: 700;
}

nav {
  float: right;
}

nav a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #7fdbff;
  margin: 0 0 0 15px;
}

section {
  padding: 100px 0 100px 0;
}

section img {
  width: 900px;
  height: 600px;
}