/* The body tag contains everything in the page */
body {
	font-family: Arvo;
	font-size: 16px;
	line-height: 1.5;

	background-color: #004d9d;
	color: #ffffff;
}

header {
	/* Using fixed position allows us to precisely posotion an element
     in relation to the browser viewport */
  position: fixed;
  top: 20px;
  left: 20px;
}

h1 {
	font-size: 24px;
	font-weight: 700;
	/* margins are the go-to property for
	when we want to create space betweeb elements on our oages */
	margin-bottom: 10px;

}

footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px 0 0;
  transition: all 0.5s;
}

/* We can play styles to elements based on whether we are hovering over them,
   this is called a pseudo selector */
a:hover {
  color: #ff4141;
}

section {
  height: 100vh;
	/* vh stands for viewport height,
	meaning it will be relative to the height of our browser window  */
  background-image: url(../assets/sally_1.jpg);
  background-size: cover;
  background-position: center;

	/* This will fix the background to the browser viewport,
     rather than to the section, creating a reveal effect we scroll */
  background-attachment: fixed;
}

.sally_2 {
  background-image: url(../assets/sally_2.jpg);
}

.sally_3 {
  background-image: url(../assets/sally_3.jpg);
}

.sally_4 {
  background-image: url(../assets/sally_4.jpg);
}
